{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { 
        margin: 3em auto;
        max-width: 800px;
        width: 95%; 
        font: 18px/1.5 sans-serif; 
        color: white;
    }

    .example-wrapper h1 {
        color: white;
        font-weight: bold;
        width: 22em;
    }

    .example-wrapper code { 
        background: #F5F5F5; 
        padding: 2px 6px; 
    }

    body {
        background-image: url('../assets/img/cafe-80.jpg');
        background-color: #cccccc;
        background-repeat: no-repeat;
        background-size: 100% 150%;
    }
</style>

<div class="example-wrapper">
    <h1><img src="../assets/img/font-register-bttf.png" alt="font bttf"></h1>
    <br><br>
    {{ form(form) }}
</div>
{% endblock %}
