{% extends 'base.html.twig' %}

{% block title %}Hello FolioController!{% endblock %}

{% block body %}
<style>
    body {
        background-color: #0F00A5;
    }
    
    img {
        margin-left: 20%;
        width: 60%;
    }
</style>

<div class="example-wrapper">
    <h1>
        <img src="../assets/img/font-welcome-bttf.png" alt="font welcome bttf">
    </h1>
</div>
{% endblock %}
